
@page
@model ecarouselGrid.Model.Greetings;

@{
    ViewBag.PageTitle = "Form";
    ViewBag.theme = "birthday";
    ViewBag.meta_title = "";
    ViewBag.meta_keywords = "";
    ViewBag.meta_description = "";

}

<div class="container">
    <form action="Preview" method="post">

        <div class="form-group">
            <label asp-for="@Model.inputFriendName"></label>
            <input asp-for="@Model.inputFriendName" type="text" class="form-control">
            <span asp-validation-for="@Model.inputFriendName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.inputFriendEmail"></label>
            <input asp-for="@Model.inputFriendEmail" type="text" class="form-control">
            <span asp-validation-for="@Model.inputFriendEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.inputSubject"></label>
            <input asp-for="@Model.inputSubject" type="text" class="form-control">
            <span asp-validation-for="@Model.inputSubject" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.inputTextarea"> </label>
            <textarea asp-for="@Model.inputTextarea" class="form-control" maxlength="240"></textarea>
            <span asp-validation-for="@Model.inputTextarea" class="text-danger"></span>
            <div class="countdown"></div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.inputSenderName"></label>
            <input asp-for="@Model.inputSenderName" type="text" class="form-control">
            <span asp-validation-for="@Model.inputSenderName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.inputSenderEmail"></label>
            <input asp-for="@Model.inputSenderEmail" type="text" class="form-control" />
            <span asp-validation-for="@Model.inputSenderEmail" class="text-danger"></span>
        </div>


        <!-- RECAPTCHA BEGIN -->
        <div>
            <div class="g-recaptcha" data-sitekey="6LfGvS8UAAAAAFFvlmvFGnJMMWAp3g2Vg_TzhCKg"></div>
            <!-- RECAPTCHA END -->

            <div class="form-group">
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

        <script src="~/lib/textarea-countdown.js"></script>

        <!--BEGIN: TEXT AUTOSIZE-->
        <script src="~/lib/textarea-autosize/dist/jquery.textarea_autosize.js"></script>
        <script>
            $('textarea').textareaAutoSize();
        </script>
        <!--END: TEXT AUTOSIZE-->

        <script src='https://www.google.com/recaptcha/api.js'></script>
    }


</div>
